<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head> 
        <title>Home Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="header.css" type="text/css" />
        <script type="text/javascript" src="link.js"></script>
    </head>
    <body>
        <div class="cover">
            <input type="button" id="login" Value="Sign in" class="button" onclick="login()" th:style="'display:' + @{(${username!=null} ? 'none' : 'inline-block')}"/>
            <a id="username" href="/" th:text="${username}" th:style="'display:' + @{(${username!=null} ? 'block' : 'none')}"/>
            <p id="welcome" th:text="${welcome}"/>
        </div>

        <div class="header">
            <h1>Web Seeker</h1>
        </div>

        <div class="topnav">
            <a href="/">Home</a>
            <a href="/loginPage">Information</a>
            <a href="/loginPage">Tool</a>
            <a href="/loginPage">Fun</a>
            <form id="search">
                <input type="text" id="searchBar" placeholder="Search name or tag"/>
                <input type="submit" id="searchBtn" Value="Search"/>
            </form>
        </div>
    </body>
</html>
