<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head> 
        <title>Footer</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="/footer.css" type="text/css" />

    </head>
    <body>
        <footer class="footer" th:fragment="footer" >
            <table class="authorInfo" cellspacing="15">
                <tr>
                    <td>Developer: Shengguang Bai</td>
                    <td>Email: fitexmage@126.com</td>
                </tr>
            </table>
            <p style="color:green;">Please contact me if you have any questions!</p>
            <br/>
            <p>Copyright &copy; Web Seeker</p>
        </footer>
    </body>
</html>
