<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head> 
        <title>Header</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="/header.css" type="text/css" />

    </head>
    <body>
        <div th:fragment="header" >
            <div class="cover">
                <a class="login" href="/login" th:style="'display:' + @{(${username!=null} ? 'none' : 'inline-block')}">Sign in</a>
                <div class="dropdown">
                    <a class="username" href="/" th:text="${username}" th:style="'display:' + @{(${username!=null} ? 'block' : 'none')}"/>
                    <div class="dropdown-content">
                        <a href="/userpage">Account</a>
                        <a th:href="@{/logout}">Log out</a>
                    </div>
                </div>
            </div>

            <div class="header">
                <h1>Web Seeker</h1>
            </div>

            <div class="topnav">
                <a href="/">Home</a>
                <a href="/popular">Popular</a>
                <a href="/webest">Webest</a>
                <a href="/category">Category</a>
                <a href="/explore">Explore</a>
                <form class="search" action="/search">
                    <input type="text" class="searchBar" name="input" placeholder="Search web pages or users" th:value="${input}"/>
                    <input type="submit" class="searchBtn" value="Search"/>
                </form>
            </div>
        </div>
    </body>
</html>
