<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head> 
        <title>Login Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="/header.css" type="text/css" />
        <link rel="stylesheet" href="/footer.css" type="text/css" />
        <script type="text/javascript" src="/link.js"></script>
        <style>
            .textField {
                width: 20%;
                padding: 10px 5px;
                margin: 8px 30px;
                display: inline-block;
                font-size: 15px;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }

            #submit{
                width:85px;
            }

        </style>
    </head>
    <body>
        <div th:replace="header :: header"></div>

        <h2 align="center">Sign in</h2>
        <br/>
        <form action="/login" method="post" align="center">
            Username: <input type='text' class="textField" name='username'/><br/><br/>
            Password: <input type='password' class="textField" name='password'/><br/><br/>
            <input id="submit" type='submit' value='Sign in'/><br/><br/>
            Don't have an account?
            <a href="/register">Sign up</a>
            <br/>
            <p style="color:red;" th:text="${alert}"/>
        </form>
        <br/>
        <div th:replace="footer :: footer"></div>
    </body>
</html>
