<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head> 
        <title>Login Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="/header.css" type="text/css" />
        <script type="text/javascript" src="/link.js"></script>
        <style>
            .textField {
                width: 20%;
                padding: 10px 5px;
                margin: 8px 30px;
                display: inline-block;
                font-size: 15px;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }

            #submit{
                width:85px;
            }

        </style>
    </head>
    <body>
        <div class="cover">
            <input type="button" class="login" value="Sign in" onclick="login()" th:style="'display:' + @{(${username!=null} ? 'none' : 'inline-block')}"/>
            <div class="dropdown">
                <a class="username" href="" th:text="${username}" th:style="'display:' + @{(${username!=null} ? 'block' : 'none')}"/>
                <div class="dropdown-content">
                    <a href="/userpage">Account</a>
                    <a href="/logoff">Log off</a>
                </div>
            </div>
            <p class="welcome" th:text="${welcome}"/>
        </div>

        <div class="header">
            <h1>Web Seeker</h1>
        </div>

        <div class="topnav">
            <a href="/">Home</a>
            <a href="/">Popular</a>
            <a href="/">Webest</a>
            <a href="/category">Category</a>
            <form class="search">
                <input type="text" class="searchBar" placeholder="Search name or tag"/>
                <input type="submit" class="searchBtn" value="Search"/>
            </form>
        </div>
        <br/>

        <h2 align="center">Sign in</h2>
        <br/>
        <form action="/login/login" align="center">
            Username: <input type='text' class="textField" name='username'/><br/><br/>
            Password: <input type='password' class="textField" name='password'/><br/><br/>
            <input id="submit" type='submit' value='Sign in'/><br/><br/>
            Don't have an account?
            <a href="/register">Sign up</a>
            <br/>
            <p style="color:red;" th:text="${alert}"/>
        </form>
        <br/>

        <div class="footer">
            <p>Footer</p>
        </div>
    </body>
</html>
