<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head> 
        <title>Register Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="/header.css" type="text/css" />
        <script type="text/javascript" src="/link.js"></script>
        <style>
            .textField {
                width: 20%;
                padding: 10px 5px;
                margin: 8px 30px;
                display: inline-block;
                font-size: 15px;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }

            #confirm{
                width:100px;
            }
        </style>
    </head>
    <body>
        <div th:replace="header :: header"></div>

        <h2 align="center">Register</h2>
        <br/>
        <form action="/register" method="post" align="center">
            Username: <input type='text' class="textField" name='username'/><br/><br/>
            Password: <input type='password' class="textField" name='password'/><br/><br/>
            <input id="confirm" type='submit' value='Confirm'/><br/><br/>
            Already have an account?
            <a href="/login">Sign in</a>
            <p style="color:red;" th:text="${alert}"/>
        </form>
        <br/>
        <div th:replace="footer :: footer"></div>
    </body>
</html>
