<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head> 
        <title>Home Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="/header.css" type="text/css" />
        <script type="text/javascript" src="/link.js"></script>
        <style>
            .info {
                width: 30%;
                margin-left: auto; 
                margin-right: auto;
            }
        </style>
    </head>
    <body>
        <div class="cover">
            <input type="button" class="login" value="Sign in" onclick="loginPage()" th:style="'display:' + @{(${username!=null} ? 'none' : 'inline-block')}"/>
            <div class="dropdown">
                <a class="username" href="" th:text="${username}" th:style="'display:' + @{(${username!=null} ? 'block' : 'none')}"/>
                <div class="dropdown-content">
                    <a href="/userpage">Account</a>
                    <a href="/logoff">Log off</a>
                </div>
            </div>
            <p class="welcome" th:text="${welcome}"/>
        </div>

        <div class="header">
            <h1>Web Seeker</h1>
        </div>

        <div class="topnav">
            <a href="/">Home</a>
            <a href="/">Popular</a>
            <a href="/">Common</a>
            <a href="/">Webest</a>
            <a href="/">Category</a>
            <form class="search">
                <input type="text" class="searchBar" placeholder="Search name or tag"/>
                <input type="submit" class="searchBtn" value="Search"/>
            </form>
        </div>

        <!-- //////////////////////////////////////////////////////////////////////// -->

        <h2 align='center' th:text="${web.getWebName()}"></h2><br/>
        <div class="info">
            <ul>
                <li><p th:text="${'Web Name: ' + web.getWebName()}"/></li>
                <li>URL: <a th:href="@{${web.getUrl()}}" th:text="${web.getUrl()}"/></li>
                <li><p th:text="${'Category: ' + web.categoryToString()}"/></li>
                <li><p th:text="${'Rate: ' + web.getRate() + ' (' + web.getRater() + ' people rated)'}"/></li>
                <li><p th:text="${'Description: ' + web.getDescription()}"/></li>
            </ul>
        </div>
        <br/>

        <div class="footer">
            <p>Footer</p>
        </div>
    </body>
</html>
